<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-wrapper" *ngIf="mapopen">
    <div id="map_center">
      <img src="assets/location.png" />
    </div>
    <div #map id="map"></div>
  </div>
  <div *ngIf="!mapopen" class="ion-padding"> 
    <div>
      <p text-wrap>
        Location: {{address}}
      </p>
      <form [formGroup]="addressForm" (ngSubmit)="add(addressForm.value)">
        <ion-item>
          <ion-label position="floating" color="dark">Full Address</ion-label>
          <ion-input type="text" autocomplete="off" formControlName="faddress"></ion-input>
        </ion-item>
        <div class="error-messages">
          <small style="text-align: left" *ngIf="addressForm.get('faddress').hasError('required') && addressForm.get('faddress').touched">
          <label style="color: crimson" >Address required</label></small>
        </div>
        <ion-item>
          <ion-label position="floating" color="dark">Contact Number</ion-label>
          <ion-input type="text" autocomplete="off" formControlName="cnumber"></ion-input>
        </ion-item>
        <div class="error-messages">
          <small style="text-align: left" *ngIf="addressForm.get('cnumber').hasError('required') && addressForm.get('cnumber').touched">
          <label style="color: crimson" >Contact number required</label></small>
        </div>
        <ion-list radio-group >
          <ion-radio-group formControlName="addresstype">
          <ion-item *ngFor="let data of addtypes; let i = index">
            <ion-label>{{data.name}}</ion-label>
            <ion-radio slot="start" color="success" value="{{data.name}}" ></ion-radio>
          </ion-item>
        </ion-radio-group>
        </ion-list>
        <div class="error-messages">
          <small style="text-align: left" *ngIf="addressForm.get('addresstype').hasError('required') && addressForm.get('addresstype').touched">
          <label style="color: crimson" >Please select Address type </label></small>
        </div>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button color="success" shape="round" (click)="add(addressForm.value)">Add</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>


</ion-content >
<ion-footer *ngIf="mapopen">
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="3">
        <b>Lattitude</b>
      </ion-col>
      <ion-col>
        {{latitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Longitude</b>
      </ion-col>
      <ion-col>
        {{longitude}}
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col>
        {{address}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" fill="outline" shape="round" color="success" (click)="cancle()">Cancle</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" shape="round" expand="full" (click)="selecteddress()">select Address</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>