app-address{
  #map_canvas {
      width: 90%;
      height: 90%;
      border: 1px solid red;
    }
    
    
    #address {
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
    }
    
    #map {
      width: 100%;
      height: 72vh;
      // height: 90%;
    }
    
    .map-wrapper {
      position: relative;
    
      #map_center {
        position: absolute;
        z-index: 99;
        height: 40px;
        width: 40px;
        top: 50%;
        left: 50%;
        margin-left: -21px;
        margin-top: -41px;
      }
      
    }
    ion-item{
      --padding-start: 0px !important;
      --padding-end: 0px !important;
      --padding-right: 0px !important;
      --inner-padding-end: 0px !important;
      // .item-native{
      //     padding: 0px !important;
      // }
      ion-label{
          .item-has-focus, .label-floating.sc-ion-label-md-h{
              color: #000000;
          }
      }
  }
}