<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="clist">
    <ion-list lines="none">
      <ion-card *ngFor=" let x of oders; let i= index">
        <ion-item class="listitem" (click)="orderdetil(x)">
          <ion-thumbnail slot="start" class="cimg">
            <img src={{x.imagepath}}>
          </ion-thumbnail>
          <ion-label>
            <p class="pname">{{x.name}}</p>
            <P class="pdesc">{{x.description}}</P>
            <p class="pname"><b> &#8377;{{x.rate}}</b></p>
            <P class="pdesc">Ordered: {{x.orderat}}</P>
          </ion-label>
        </ion-item>
        <ion-row class="ordersumm ion-text-center">
          <ion-col >
            <ion-button size="small" fill="outline" color="success" (click)="gotocard()" *ngIf="x.status == 3">Reorder</ion-button>
          </ion-col>
          <ion-col (click)="viewstatus(x)">
            <ion-button size="small" fill="outline" color="success">Status</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
