app-myorder{
    .clist{
        ion-card{
            margin: 5px 0;
            --background: #f5f6f9 !important;
            .listitem{
                --background: #f5f6f9 !important;
                .item-native{
                    --background: #f5f6f9 !important;
                }
                .cimg{
                    width: 5rem;
                    height: 5rem;
                    img{
                        border-radius: 5px;
                    }
                }
                .pname{
                    font-size: 1.2rem;
                    // color: #000000;
                    color: var(--ion-color-success);
                }
                .pdesc{
                    font-size: 0.8rem;
                }
            }
            .ordersumm{
                --background: #f5f6f9 !important;
            }
        }
    }
}
