app-forgotpassword{
    .main{
        margin-top: 6rem;
        margin-right: 20px;
        margin-left: 20px;

        ion-item{
            --padding-start: 0px !important;
            --padding-end: 0px !important;
            --padding-right: 0px !important;
            --inner-padding-end: 0px !important;
            // .item-native{
            //     padding: 0px !important;
            // }
            ion-label{
                .item-has-focus, .label-floating.sc-ion-label-md-h{
                    color: #000000;
                }
            }
        }
        ion-button{
            width: 10rem;
            margin-top: 2rem;
        }
    }
}