app-deals{
    ion-grid{
        // padding: 0px;
        ion-col{
        //   padding-left: 0px;
          padding-right: 10px;
          ion-card{
            margin: 0px;
            border-radius: 10px;
            height:12rem;
            .discount{
              position: absolute;
              top: 1px;
              color: #ffff;
              background: #eab819;
              margin: auto;
              /* width: 3rem; */
              font-size: 15px;
              border-radius: 0px 0px 10px 0px;
              padding: 4px;
            }
            .pname{
              line-height: 0px;
              color: #000000;
              padding-left: 1vw;
              font-size: 16px;
            }
            .pprize{
                line-height: 12px;
                padding-left: 1vw;
                font-size: 16px;
                color: var(--ion-color-success);
                font-weight: bold;
            }
          }
        }
    }
}