<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button  [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>Top Deals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let x of images">
          <ion-card (click)="gotoproduct(x)">
            <img [src]="x.imagepath">
            <p class="pname ion-text-left">{{x.name}}</p>
            <p class="pprize ion-text-left">{{x.discount}} OFF</p>
            <!-- <h3 class="pprize"><span class="sprize">&#8377;{{x.sellingprice}}</span> &nbsp;<span class="aprize"><sub>&#8377;{{x.actualprice}}</sub></span></h3> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
