app-mycart{
    .cheader{
        height: 3rem;
    }
    .clist{
        ion-card{
            margin: 5px 0;
            .listitem{
                --background: #f4f5f8 !important;
                .item-native{
                    --background: #f4f5f8 !important;
                }
                .cimg{
                    width: 5rem;
                    height: 5rem;
                }
                .pname{
                    font-size: 1rem;
                    color: #000000;
                }
                .pprize{
                    // line-height: 12px;
                    padding-left: 1vw;
                    font-size: 18px;
                    .sprize{
                      font-size: 18px;
                      color: var(--ion-color-success);
                    }
                    .aprize{
                      text-decoration: line-through;
                    }
                }
                .btn1{
                    position: relative;
                    // text-align: center;
                    // padding-bottom: 5px;
                    // display: flex;
                    // width:75%;
                    // margin: auto;
                    ion-icon{
                        // color: #2dd36f;
                        color: var(--ion-color-success);
                        font-size: 1.5em;
                        /* padding: 10px; */
                        // padding: 0 5px;
                    }
                    .proquantity{
                        // margin: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
    .billamount{
        line-height: 0rem !important;
        ion-col{
            padding: 0px !important;
        }
        .total{
            padding: 5px;
        }
    }
}

