<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row class="cheader">
    <ion-col class="ion-text-center">
      <p><b>({{cartproduct.length}}) Items</b></p>
    </ion-col>
    <ion-col class="ion-text-center" (click)="clearcart()">
      <p>Clear Cart</p>
    </ion-col>
  </ion-row>
  <div class="clist">
    <ion-list>
      <ion-card *ngFor=" let x of cartproduct; let i= index">
        <ion-item class="listitem">
          <ion-thumbnail slot="start" class="cimg">
            <img src={{x.imagepath}}>
          </ion-thumbnail>
          <ion-label>
            <p class="pname">{{x.name}}</p>
            <h3 class="pprize"><span class="sprize">&#8377;{{x.sellingprice}}</span> &nbsp;<span
                class="aprize"><sub>&#8377;{{x.actualprice}}</sub></span></h3>
            <p class="discount">{{x.discount}} OFF</p>
          </ion-label>
          <div class="btn1" *ngIf="x.Quantity">
            <ion-icon name="add-circle" (click)="addaquantity(x.id)"></ion-icon>
            <div class="proquantity">
              {{x.Quantity}}
            </div>
            <ion-icon name="remove-circle" (click)="descrementqty(x.id, i)"></ion-icon>
          </div>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="cartproduct.length">
  <div>
    <ion-grid>
      <ion-row class="billamount">
        <ion-col class="ion-text-center">
          <p>Sub Total</p>
          <p class="total"> <b>&#8377;{{subtotal}}</b></p>
          <!-- <p>10</p> -->
        </ion-col>
        <ion-col class="ion-text-center">
          <p>Tax()</p>
          <p class="total"> <b>&#8377;{{totaltax}} </b></p>
          <!-- <p>5</p> -->
        </ion-col>
        <ion-col class="ion-text-center">
          <p>Grand total</p>
          <p class="total"><b>&#8377;{{subtotal  +  totaltax}} </b></p>
          <!-- <p>15</p> -->
        </ion-col>
      </ion-row>
      <ion-row class="billamount">
        <ion-col class="ion-text-end">
          <ion-button color="success" (click)="checkout()">checkout <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- <p>checkout</p> -->

    </ion-grid>
  </div>
</ion-footer>