<!-- <ion-header>
  <ion-toolbar>
    <ion-title>changepassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main">
    <form [formGroup]="forgotpassForm" (ngSubmit)="onsubmit(forgotpassForm.value)">
      <ion-item>
        <ion-label position="floating" color="dark">Enter your registered Email</ion-label>
        <ion-input type="text" autocomplete="off" formControlName="email"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="success" shape="round" (click)="onsubmit(.value)">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
