app-product{
    ion-grid{
        // padding: 0px;
        ion-col{
        //   padding-left: 0px;
          padding-right: 10px;
          ion-card{
            margin: 0px;
            border-radius: 10px;
            // height:12rem;
            img{
              width: 100%;
            }
            .discount{
              position: absolute;
              top: 1px;
              color: #ffff;
              background: #eab819;
              margin: -2px;
              /* width: 3rem; */
              font-size: 15px;
              border-radius: 0px 0px 10px 0px;
              padding: 4px;
            }
            .pname{
              line-height: 0px;
              color: #000000;
              padding-left: 1vw;
              font-size: 16px;
            }
            .pprize{
              line-height: 12px;
              padding-left: 1vw;
              font-size: 18px;
              .sprize{
                font-size: 18px;
                color: var(--ion-color-success);
              }
              .aprize{
                text-decoration: line-through;
              }
            }
            .btn{
                text-align: center;
                // padding-bottom: 5px;
                ion-button{
                  font-size: 0.7rem;              
                }
            }
            .btn1{
                text-align: center;
                padding-bottom: 5px;
                display: flex;
                width:75%;
                margin: auto;
                ion-icon{
                    // color: #2dd36f;
                    color: var(--ion-color-success);
                    font-size: 2em;
                    /* padding: 10px; */
                    padding: 0 5px;
                }
                .proquantity{
                    margin: auto;
                }
            }
          }
        }
    }
}