<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button  [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let x of images">
          <ion-card>
            <img [src]="x.imagepath">
            <p class="discount ion-text-left">{{x.discount}} OFF</p>
            <p class="pname ion-text-left">{{x.name}}</p>
            <h3 class="pprize"><span class="sprize">&#8377;{{x.sellingprice}}</span> &nbsp;<span class="aprize"><sub>&#8377;{{x.actualprice}}</sub></span></h3>
            <div class="btn" *ngIf="!x.Quantity">
              <ion-button  size="small" color="success" (click)="addaquantity(x.id)"> ADD</ion-button>
            </div>
            <div class="btn1" *ngIf="x.Quantity">
                <ion-icon name="remove-circle" (click)="descrementqty(x.id)" ></ion-icon>
                <div class="proquantity">
                  {{x.Quantity}}
                </div>
                <ion-icon name="add-circle" (click)="addaquantity(x.id)"></ion-icon>
            </div>
          </ion-card>
         
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
