<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main ion-padding">
    <h4>Welcome Back !</h4>
      <form [formGroup]="loginForm" (ngSubmit)="onlogin(loginForm.value)">
        <ion-item>
          <ion-label position="floating" color="dark">Mobile</ion-label>
          <ion-input type="text" autocomplete="off" formControlName="mobile"></ion-input>
        </ion-item>
        <div class="error-messages">
          <small style="text-align: left" *ngIf="loginForm.get('mobile').hasError('required') && loginForm.get('mobile').touched">
          <label style="color: crimson" >Mobile required</label></small>
        </div>
        <ion-item>
          <ion-label position="floating" color="dark">Password</ion-label>
          <ion-input type="{{type}}" name="password" clearOnEdit="false" formControlName="password"></ion-input>
          <ion-icon *ngIf="showPass" name="eye" color="success" slot="end" class="passwordIcon" (click)="showPassword()"></ion-icon>
          <ion-icon *ngIf="!showPass" name="eye-off" color="success" slot="end" class="passwordIcon" (click)="showPassword()"></ion-icon>
        </ion-item>
        <div class="error-messages">
          <small style="text-align: left" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          <label style="color: crimson" >Password required</label></small>
        </div>
        <ion-item lines="none" no-padding class="transparent">
          <ion-label >Remember me</ion-label>
          <ion-checkbox slot="start" color="success" class="checkmar" formControlName="rememberme"></ion-checkbox>
      </ion-item>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button color="success" shape="round" (click)="onlogin(loginForm.value)">Login</ion-button>
          </ion-col>
        </ion-row>
      </form>
      <div>
        <p class="ion-text-center" (click)="gotoforgot()">Forgot password?</p>
        <p class="ion-text-center">OR</p>
        <p class="ion-text-center" (click)="newregister()">Create your new account</p>
      </div>
  </div>
</ion-content>
