<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main ion-padding">
    <h4>Let's get started !</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onsubmit(registerForm.value)">
      <ion-item>
        <ion-label position="floating" color="dark">Full name</ion-label>
        <ion-input type="text" autocomplete="off" formControlName="name"></ion-input>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched">
        <label style="color: crimson" >Full Name required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating" color="dark">Email</ion-label>
        <ion-input type="text" autocomplete="off" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
        <label style="color: crimson" >Email required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating" color="dark">Contact No</ion-label>
        <ion-input type="tel" autocomplete="off" formControlName="mobile"></ion-input>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="registerForm.get('mobile').hasError('required') && registerForm.get('mobile').touched">
        <label style="color: crimson" >Contact No. required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating" color="dark">Password</ion-label>
        <ion-input type="{{type}}" name="password" clearOnEdit="false" formControlName="pass"></ion-input>
        <ion-icon *ngIf="showPass" name="eye" color="success" slot="end" class="passwordIcon" (click)="showPassword()"></ion-icon>
        <ion-icon *ngIf="!showPass" name="eye-off" color="success" slot="end" class="passwordIcon" (click)="showPassword()"></ion-icon>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="registerForm.get('pass').hasError('required') && registerForm.get('pass').touched">
        <label style="color: crimson" >Password required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating" color="dark">Confirmed password</ion-label>
        <ion-input type="{{type1}}" name="password" clearOnEdit="false" formControlName="confirmpass"></ion-input>
        <ion-icon *ngIf="showPass1" name="eye" color="success" slot="end" class="passwordIcon" (click)="showPassword1()"></ion-icon>
        <ion-icon *ngIf="!showPass1" name="eye-off" color="success" slot="end" class="passwordIcon" (click)="showPassword1()"></ion-icon>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="registerForm.get('confirmpass').hasError('required') && registerForm.get('confirmpass').touched">
        <label style="color: crimson" >Confirmed password required</label></small>
      </div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="success" shape="round" (click)="onsubmit(registerForm.value)">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <div>
      <p class="ion-text-center" (click)="gotologin()">Allready have an account? login here</p>
     
    </div>
  </div>
</ion-content>