app-register{
    ion-item{
        --padding-start: 0px !important;
        --padding-end: 0px !important;
        --padding-right: 0px !important;
        --inner-padding-end: 0px !important;
        // .item-native{
        //     padding: 0px !important;
        // }
        ion-label{
            .item-has-focus, .label-floating.sc-ion-label-md-h{
                color: #000000;
            }
        }
    }
    .passwordIcon{
        cursor: pointer;  
        margin-top: 20px;
    }
    ion-button{
        width: 10rem;
        margin-top: 2rem;
    }
    .main{
        margin-top: 3rem;
        margin-right: 15px;
        margin-left: 15px;
    }
}