<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button  [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let category of categories; let i=index" (click)="gotoproduct(category)">
          <div class="cat">
            <img [src]="category.imagepath">
          </div>
          <p class="catname ion-text-center">{{category.name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>