app-category{
    .cat{
        padding: 5px;
        border: 1px solid #b5acac;
        border-radius: 10px;
        img{
            border-radius: 10px;
        }
    }
    .catname{
        margin: 1vh;
        font-size: 18px;
        color: #899c9c;
    }
}