app-home{
  .carticon{
    font-size: 1.2rem;;
  }
    .featureadd{
        padding-bottom: 10px;
    }
    ion-slides{
        height: 7rem !important;
    }
    .imges{
        // width: 70vw !important;
        // height: 30vh !important;
        padding: 10px !important;
        img{
            width: 100%;
        }
    }
    .swiper-zoom-container>img{
        max-height: fit-content !important;
    }
    .swiper-pagination-bullet-active{
        background: #42d77d !important;
    }
    .cname{
      line-height: 2rem;
    }
    .category{
        .cat{
            font-weight: bold;
        }
        .thumnails{
            overflow-x: scroll;
            overflow-y: hidden;
            margin-top: 10px;
            .list-thumbnail{
              height: 100%;
              white-space: nowrap;      
              // margin-bottom: 10px;
              .img-thumb{
                display: inline-block;
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 3px;
                width: 82px;
                height: 63px;
                margin: 0 10px 0 0;
                // line-height: 100px;
                p{
                    line-height: 5px;
                    // line-height: 30px !important;
                    // text-align: center !important;
                }
              }
              .selected-img{
                border: 2px solid gray;
              }
            }
          }
    }
    .deal{
      .cat{
        font-weight: bold;
    }
    .thumnails{
        overflow-x: scroll;
        overflow-y: hidden;
        // margin-top: 10px;
        .list-thumbnail{
          height: 100%;
          white-space: nowrap;      
          // margin-bottom: 10px;
          .img-thumb{
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 10px;
            // padding: 3px;
            width: 150px;
            height: 170px;
            margin: 0 10px 0 0;
            // line-height: 100px;
            position: relative;
            img{
              width: 150px;
              height: 170px;
              border-radius: 10px;  
              position: absolute;        
            }
            .dealname{
                // line-height: 5px;
                color: #ffffff;
                // line-height: 30px !important;
                // text-align: center !important;
                position: absolute;
                bottom: 2px;
                margin-left: 5px;
                p, h3{
                  line-height: 1px;
                }
            }
          }
          .selected-img{
            border: 2px solid gray;
          }
        }
      }
    }
    .product{
      .cat{
        font-weight: bold;
      }
      ion-grid{
        padding: 0px;
        ion-col{
          padding-left: 0px;
          padding-right: 10px;
          ion-card{
            margin: 0px;
            border-radius: 10px;
            .discount{
              position: absolute;
              top: 1px;
              color: #ffff;
              background: #eab819;
              margin: -2px;
              /* width: 3rem; */
              font-size: 15px;
              border-radius: 0px 0px 10px 0px;
              padding: 4px;
            }
            .pname{
              line-height: 0px;
              color: #000000;
              padding-left: 1vw;
              font-size: 16px;
            }
            .pprize{
              line-height: 12px;
              padding-left: 1vw;
              font-size: 18px;
              .sprize{
                font-size: 18px;
                color: var(--ion-color-success);
              }
              .aprize{
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
    
      ::-webkit-scrollbar { 
        display: none; 
      }
}