<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end" (click)="gotocart();">
      <ion-button class="carticon">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <div class="featureadd">
    <ion-slides pager="true" [options]="slideOptions" #slideWithNav>
      <ion-slide *ngFor="let banner of bannerlist" class="imges"> 
        <!-- <p>nikhil</p> -->
        <div>
          <img src={{this.getbannerimg(banner.banner_img)}}>
          <!-- <img src="./../../../assets/icon/demo.png"> -->
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="category">
    <ion-row class="cname">
      <ion-col class="cat ion-text-start" size="8">Explore by Categories</ion-col>
      <ion-col class="viewcat ion-text-end" size="4" (click)="gotocategory()"> <ion-text color="success">View All</ion-text></ion-col>
    </ion-row>
    <div class="thumnails">
      <div class="list-thumbnail">
        <div class="img-thumb" [class.selected-img]="cat.selected" *ngFor="let cat of catgories" (click)="gotoproduct(cat, cat.cat_title)">
          <img [src]="this.getcatimg(cat.cat_img)"><br>
          <p class="ion-text-center">{{cat.cat_title}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="deal">
    <ion-row class="cname">
      <ion-col class="cat ion-text-start" size="8">Top Deals</ion-col>
      <ion-col class="viewcat ion-text-end" size="4"  (click)="gotodeal()" > <ion-text color="success">View All</ion-text></ion-col>
    </ion-row>
    <div class="thumnails">
      <div class="list-thumbnail">
        <div class="img-thumb" [class.selected-img]="prod.selected" *ngFor="let prod of productlist" (click)="gotoproduct(prod, prod.name)">
          <img src={{this.getprodimg(prod.product_img)}}><br>
          <div class="dealname">
            <h3 class="ion-text-left">{{prod.product_title}}</h3>
            <p class="ion-text-left">{{prod.discount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="product">
    <ion-row class="cname">
      <ion-col class="cat ion-text-start" size="8">Product</ion-col>
      <ion-col class="viewcat ion-text-end" size="4" (click)="gotoproduct(prod, 'Product')" > <ion-text color="success">View All</ion-text></ion-col>
    </ion-row>
    <!-- <div> -->
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let prod of productlist">
            <ion-card>
              <img [src]="this.getprodimg(prod.product_img)">
              <!-- <p class="discount ion-text-left">{{prod.discount}} OFF</p> -->
              <p class="pname ion-text-left">{{prod.product_title}}</p>
              <h3 class="pprize"><span class="sprize">&#8377;{{prod.offer_price}}</span> &nbsp;<span class="aprize"><sub>&#8377;{{prod.price}}</sub></span></h3>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- </div> -->
    </div>
</ion-content>
