app-orderdetail{
    .orderlist{
        --background: #f5f6f9 !important;
        border-bottom: 1px solid #d7d8da;
        .od{
            line-height: 1rem;
            padding-left: 1rem;
            .status{
                color: var(--ion-color-success)
            }
        }
        ion-card{
            margin: 5px 0;
            --background: #f5f6f9 !important;
            .listitem{
                --background: #f5f6f9 !important;
                .item-native{
                    --background: #f5f6f9 !important;
                }
                .cimg{
                    width: 5rem;
                    height: 5rem;
                    img{
                        border-radius: 5px;
                    }
                }
                .pname{
                    font-size: 1.2rem;
                    // color: #000000;
                    color: var(--ion-color-success);
                }
                .pdesc{
                    font-size: 0.8rem;
                }
                .prate{
                    font-size: 1rem;
                }
            }
        }
    }
    .total{
        p{
            line-height: 0px !important;
        }
        ion-grid{
            border-bottom: 1px solid #d7d8da;
            padding: 10px;
        }
    }
    .final{
        padding: 10px;
        p{
            line-height: 0px !important;
        }
    }
}