<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="orderlist" >
    <p class="od">Order Id: {{order.Id}}</p>
    <p class="od">Date: {{order.date}}</p>
    <p class="od">Delievery Date: {{order.ddate}}</p>
    <p class="od">Time: {{order.slot}}</p>
    <p class="od">Order Status: <span class="status">{{order.Status}}</span></p>
    <ion-card *ngFor="let x of order.itemlist">
      <ion-item class="listitem" (click)="orderdetil(x)">
        <ion-thumbnail slot="start" class="cimg">
          <img src={{x.imagepath}}>
        </ion-thumbnail>
        <ion-label>
          <p class="pname">{{x.name}}</p>
          <P class="pdesc">{{x.qty}} * {{x.sellingprice}} </P>
          <p class="prate"><b> &#8377;{{x.qty * x.sellingprice}}</b></p>
          <!-- <P class="pdesc">Ordered: {{x.orderat}}</P> -->
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
  <div class="total">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Sub Total</p>
        </ion-col>
        <ion-col class="ion-text-right">
          <p> &#8377;{{order.total}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Tax</p>
        </ion-col>
        <ion-col class="ion-text-right">
          <p> &#8377;{{order.tax}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Delievery Charges</p>
        </ion-col>
        <ion-col class="ion-text-right">
          <p> &#8377;{{order.dcharge}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="final">
      <ion-col>
        <p>Total</p>
      </ion-col>
      <ion-col class="ion-text-right">
        <p>&#8377; {{order.total + order.tax + order.dcharge}}</p>
      </ion-col>
    </ion-row>
    <!-- <p><span class="ion-text-left"> Sub Total</span> <span class="ion-text-right">&#8377;{{order.total}}</span></p> -->
  </div>
</ion-content>
