<!-- <ion-header>
  <ion-toolbar>
    <ion-title>OTP</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main">
    <form [formGroup]="otpForm" (ngSubmit)="onSubmitForm(otpForm.value)">
      <p class="ion-text-center">Please enter your six digit OTP</p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="tel" text-center maxLength="1" #input1 formControlName="otp1"
                (keyup)="focusInput(input2,input1,input1,'input1')"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="tel" text-center maxLength="1" #input2 formControlName="otp2"
                (keyup)="focusInput(input3,input2,input1,'input2')"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="tel" text-center maxLength="1" #input3 formControlName="otp3"
                (keyup)="focusInput(input4,input3,input2,'input3')"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="tel" text-center maxLength="1" #input4 formControlName="otp4"
                (keyup)="focusInput(input5,input4,input3,'input4')"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="tel" text-center maxLength="1" #input5 formControlName="otp5"
                (keyup)="focusInput(input6,input5,input4,'input5')"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="tel" text-center maxLength="1" #input6 formControlName="otp6"
                (keyup)="focusInput(input6,input6,input5,'input6')"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="error-messages">
        <small style="text-align: left;"
          *ngIf="otpForm.controls.otp1.hasError('required')  && otpForm.controls.otp1.touched ">
          <label style="color: crimson">Otp is required</label></small>
        <small style="text-align: left;"
          *ngIf="otpForm.controls.otp2.hasError('required')  && otpForm.controls.otp2.touched && otpForm.controls.otp1.valid">
          <label style="color: crimson">Otp is required</label></small>
        <small style="text-align: left;"
          *ngIf="otpForm.controls.otp3.hasError('required')  && otpForm.controls.otp3.touched &&  otpForm.controls.otp1.valid && otpForm.controls.otp2.valid">
          <label style="color: crimson">Otp is required</label></small>
        <small style="text-align: left;"
          *ngIf="otpForm.controls.otp4.hasError('required')  && otpForm.controls.otp4.touched  &&  otpForm.controls.otp1.valid &&  otpForm.controls.otp2.valid && otpForm.controls.otp3.valid">
          <label style="color: crimson">Otp is required</label></small>
        <small style="text-align: left;"
          *ngIf="otpForm.controls.otp5.hasError('required')  && otpForm.controls.otp5.touched  &&  otpForm.controls.otp1.valid &&  otpForm.controls.otp2.valid &&  otpForm.controls.otp3.valid && otpForm.controls.otp4.valid">
          <label style="color: crimson">Otp is required</label></small>
        <small style="text-align: left;"
          *ngIf="otpForm.controls.otp6.hasError('required')  && otpForm.controls.otp6.touched  &&  otpForm.controls.otp1.valid &&  otpForm.controls.otp2.valid &&  otpForm.controls.otp3.valid && otpForm.controls.otp4.valid && otpForm.controls.otp5.valid">
          <label style="color: crimson">Otp is required</label></small>
      </div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="success" shape="round" (click)="onSubmitForm(otpFormvalue)">Verify</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <p class="ion-text-center" (click)="resendotp()">Resend OTP</p>
  </div>
</ion-content>