app-otp{
    .main{
        margin-top: 5rem;
        margin-right: 15px;
        margin-left: 15px;

        ion-button{
            width: 10rem;
            margin-top: 2rem;
        }
    }
    
}