app-checkout{
    ion-row{
        line-height: 0px;
    }
    .head{
        line-height: 0px;
        padding: 5px;
    }
    .bill{
        border-bottom: 1px solid #eeeeee;
    }
    ion-label{
        white-space:normal !important;
    }
    .newadd{
        border: 1px solid #eee;
        padding: 13px;
        width: 50%;
        margin: auto;
    }
    .selected{
        border: 1px solid;
        text-align: center;
        // .selected{
            color: var(--ion-color-success) !important;
        // }
    }
    .notselect{
        border: 1px solid;
        text-align: center;
    }
}