<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3 class="head"> Cart Summery</h3>
    <div class="bill">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Sub Total ( {{cartitem.length}} Item)</p>
          </ion-col>
          <ion-col class="ion-text-end">
            <p> <b>&#8377;{{subtotal}} </b></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>TAX</p>
          </ion-col>
          <ion-col class="ion-text-end">
            <p><b>&#8377;{{totaltax}}</b></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Delievery Charges</p>
          </ion-col>
          <ion-col class="ion-text-end">
            <p><b>&#8377;50</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bill">
      <ion-row>
        <ion-col>
          <p>Total</p>
        </ion-col>
        <ion-col class="ion-text-end">
          <p><b>&#8377;{{subtotal + totaltax + 50}}</b></p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div>
    <h3 class="head">Delievery Address</h3>
    <ion-list lines="none">
      <ion-radio-group name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>
        <div class="bill" *ngFor="let x of addresslist;let i= index">
          <ion-item (ionSelect)="radioSelect($event)">
            <ion-label>{{x.name}}</ion-label>
            <ion-radio slot="start" color="success"></ion-radio>

          </ion-item>
          <ion-row>
            <ion-col class="ion-text-center" (click)="Edit(X)">
              <ion-button size="small" fill="outline" color="success">Edit</ion-button>
              <!-- <p >Edit</p> -->
            </ion-col>
            <ion-col class="ion-text-center" (click)="delet(X, i)">
              <ion-button size="small" fill="outline" color="danger">Delete</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-radio-group>
      <ion-row>
        <ion-col class="ion-text-center">
          <p class="newadd">Add a new Address</p>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
  <div>
    <h3 class="head">Choose Delivery Date and time</h3>
    <ion-row>
      <ion-col *ngFor="let weekdays of week; let i= index" (click)="selectedday(weekdays, i); selectslot(weekdays, i)">
        <div [ngClass]="{'selected': weekdays.selected}">
          <p>{{weekdays.day | date:'EEE'}}</p> 
          <p>{{weekdays.day | date:'d'}}</p> 
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="showslots">
      <ion-list lines="none">
        <ion-radio-group name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>
          <div class="bill" *ngFor="let x of showslots;let i= index">
            <ion-item (ionSelect)="radioSelect($event)">
              <ion-label>{{x.time}}</ion-label>
              <ion-radio slot="start" color="success"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-list>
    </div>
    <div class="ion-text-center">
      <ion-button color="success" shape="round" (click)="placeorder()">Placed Order</ion-button>
    </div>
  </div>
</ion-content>