<ion-header [translucent]="true">
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-list lines="none">
      <div *ngFor="let add of addresslist; let i = index">
        <ion-item>
          <ion-avatar>
            {{i+1}}
          </ion-avatar>
          <ion-lable>
            {{add.name}}
          </ion-lable>
        </ion-item>
        <ion-row>
          <ion-col class="ion-text-center" (click)="Edit(add)">
            <ion-button size="small" fill="outline" color="success">Edit</ion-button>
            <!-- <p >Edit</p> -->
          </ion-col>
          <ion-col class="ion-text-center" (click)="delet(X, i)">
            <ion-button size="small" fill="outline" color="danger">Delete</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-row class="addbtn">
    <ion-button color="success" shape="round" expand="full" (click)="addnewadd('')">Add new address</ion-button>
  </ion-row>
</ion-footer>